@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --sl-font: 'Inter', system-ui, sans-serif;
  --sl-font-mono: 'JetBrains Mono', Menlo, monospace;
  
  --sl-color-accent-low: #ccfbf1;
  --sl-color-accent: #14b8a6;
  --sl-color-accent-high: #0d9488;
  
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #fafafa;
  --sl-color-gray-2: #f4f4f5;
  --sl-color-gray-3: #e4e4e7;
  --sl-color-gray-4: #a1a1aa;
  --sl-color-gray-5: #71717a;
  --sl-color-gray-6: #3f3f46;
  --sl-color-black: #09090b;
}

[data-theme='dark'] {
  --sl-color-accent-low: #134e4a;
  --sl-color-accent: #2dd4bf;
  --sl-color-accent-high: #5eead4;
}
